
.container{
   text-align: center;

}
.title {
margin-top: 40px;
color:white;
font-size: 60px;
display: flex;
justify-content: center;
align-items: center;
}
.title span {
color: #26ffcb;
padding-left: 15px;
}
.reset{
    width: 200px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 25px;
    margin-bottom: 50px;
}
.boxes{
    display: flex;
    height: 140px;
    width: 140px;       
    background:#1f3540;;
   border: 3px solid #0f1b21;
  border-radius: 9px;
    cursor: pointer;
}
.board{
    height: 430px;
    width: 420px;
    display: flex;
   margin:auto ;
}
.boxes img{
  height: 50px;
    margin: 25px;
}
.title img{
 padding: 20px 20px;
 height: 50px;
}
  
  /* Add media queries to make it responsive */
  
  /* For small screens (mobiles) */
  @media only screen and (max-width: 767px) {
    .title {
        margin-top: 80px;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .title span {
        color: #26ffcb;
        padding-left: 3px;
      }
   .board {
      height: 300px;
      width: 295px;
    }
   .boxes {
    
      height: 90px;
      width: 90px;
    }
    
  .boxes img {
    
    height: 50px;
    margin: 25px;
  }
    .title img {
        padding: 6px 6px;
        height:35px;

     }
  
   .reset {
    margin-top: 50px;
      width: 150px;
      height: 60px;
    }
  }
  
  /* For medium screens (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .title {
        margin-top: 60px;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .title span {
        color: #26ffcb;
        padding-left: 3px;
      }
   .board {
      height: 340px;
      width: 520x;
    }
   .boxes {
      height: 125px;
      width: 125px;
    }
    
  .boxes img {
    
    height:70px;
    margin: 35px;
  }
    .title img {
        padding: 10px 10px;
        height:50px;

     }
  
   .reset {
    margin-top: 70px;
      width: 150px;
      height: 60px;
    }
  }
  
  /* For large screens (desktops) */
  @media only screen and (min-width: 992px) and (max-width: 1680px) {
    .title {
        margin-top: 30px;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .title span {
        color: #26ffcb;
        padding-left: 3px;
      }
   .board {
      height: 350px;
      width: 320px;
    }
   .boxes {
      height: 100px;
      width: 100px;
    }
   .reset {
     margin-top: 40px;
      width: 220px;
      height: 80px;
    }
  }